<p id="notice"><%= notice %></p>

<h1>
  <strong>Genre:</strong>
  <%= @genre.name %>
</h1>

<p>List of anime that are tagged with <%= @genre.name %></p>
<ul>
  <% @genre.animes.each do |anime| %>
    <li><%= link_to anime.name, anime %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
