<p id="notice"><%= notice %></p>

<h1>
  <strong>Genre:</strong>
  <%= @genre.name %>
</h1>


<ul>
  <% @genre.animes.each do |anime| %>
    <li><%= anime.name %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
